* {
    font-family: 'Roboto Flex', sans-serif;
}

p {
    font-size: 12px;
    margin-bottom: 0px;
}

.navbar {
    display: none;
}

.nav {
    background-color: #f7f8f8;
    height: 120PX;
    /* display: flex;
    align-items: center; */
}

.nav-container {
    overflow: hidden;
    height: 120px;

}

.nav-row {
    /* border: solid red 2px; */
    padding: 0px 20px 0px 20px;
    height: 55px;

}

.nav-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    /* border: red solid 2px; */
    padding: 0px 40px 0px 25px;
}

.logo-one {
    width: 33px;
    height: 18px;

}

.motor-main,
.property-main i {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.motor-text,
.property-text {
    font-weight: 800;
    margin-left: 15px;
    letter-spacing: 0.5px;
}

.nav-row-two {
    display: flex;
    padding: 0px 45px;
    align-items: center;
    height: 55px;
}

.big-logo-col {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0;
}

.big-logo {
    width: 60px;
    height: 35px;

}

.serch-bar {
    border: #002f34 2px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 50px;
    margin-left: 20px;
}

.fa-magnifying-glass {
    margin-right: 10px;
    font-size: 15px;

}

.search-input {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background-color: #f7f8f8;
    width: 200px;
    margin-right: 10px;

}

.fa-chevron-down {
    font-size: smaller;

}

.serch-bar-two {
    border: #002f34 2px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 450px;
    height: 50px;
    margin-right: 20px;
}

.search-input-two {
    width: 400px;
    height: 38px;
    border: none;
    outline: none;
    margin-left: 10px;
}

.search-icon-two-main {
    background-color: #002f34;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.search-white-icon {
    color: white;
    font-size: 22px;
    width: 50px;
    text-align: center;
}

.login {

    padding-right: 10px;

}

.login-text {
    font-size: 16px;
    font-weight: 700;
    border-bottom: 2px solid black;
}

.sell-button-main {
    position: relative;
    margin-right: 10px;

    display: flex;
    align-items: center;

}

.sell-btn-main-two {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 50px;
}

.sell-main {
    display: flex;
    align-items: center;
    height: 30px;

}

.sell-text {

    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    margin-left: 2px;
}

.plus {
    font-size: 32px;
    font-weight: bolder;
    height: 55px;

}

.olx-sell-icon {
    width: 95px;
    height: 45px;
    margin-right: 10px;

}

.catogries {
    height: 48px;

    box-shadow: 0px 2px 8px 0px rgb(237, 236, 236);
}

.catogries-row {
    display: flex;
    align-items: center;
    height: 48px;
}

.catogries-col {
    display: flex;
    padding: 0px 30px;
    border: red 2px solid;
}

.all-catogries {
    display: flex;
    align-items: center;
    width: 140px;
    justify-content: space-evenly;

}

.all-catogries-text {
    font-size: 14px;
    font-weight: 700;
}

.down-icon-all {
    font-size: 22px;
}

.anchors-main {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    width: 600px;
    /* border:  solid green 2px; */
}

.anchors-main p {
    font-size: 14px;
}

.anchors-main p:hover {
    color: #0296a6
}

.categ-container {
    overflow: hidden;
}

.carousel-inner {
    height: 190px;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.categ-pic {
    margin-top: 30px;
}

.categ-heading {
    font-weight: 700;
}

.categ-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 0px 50px;
    margin-top: 10px;
}

.pic-categ-main {
    height: 200px;
    width: 110px;
}

.categ-img {
    width: 88px;
    height: 88px;
}

.categ-img-text {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}


.mobiles {}

.mobiles-container {
    overflow: hidden;
    padding: 0px;
}

.mobiles-row {}

.cars-row,
.bike-row {
    margin-top: 35px;
}

.mobiles-heading-col {}

.mobiles-heading {
    font-weight: 700;
}


.mobiles-product-col {
    margin-top: 15px;
    padding: 0px 10px;
}

.mobiles-main {
    box-shadow: #cdcece 2px 0px 5px;
}

.mobiles-img-main {
    width: 100%;

}

.mobiles-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.mobiles-price-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0px 10px;
}

.mobiles-price {
    font-size: 18px;
    font-weight: 700;
}

.fa-heart {
    font-size: 22px;
}

.product-detail-main {
    margin-top: 5px;
    padding: 0px 10px;
}

.product-detail {
    font-size: 18px;
}

.location {
    margin-top: 10px;
    padding: 0px 10px;
}

.location-text {
    font-size: 14px;

}

.post-time {
    margin-top: 5px;
}

.olx-apps {
    margin-top: 30px;
    height: 200px;
    background-color: #f7f8f9;

}

.olx-apps-col {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 200px;
}

.app-heading-main {}

.app-heading-text {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px 5px;
}

.app-img-col {
    height: 200px;
    display: flex;
    align-items: center;
    padding: 0;
}

.app-all-main {
    border-left: #bebebe solid 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
    padding: 0px 30px;
}

.app-img-main {
    height: 60px;
    display: flex;

}

.app-img {
    width: 130px;
    margin: 0px 5px;
}

.footer {

    border-top: #bebebe 1px solid;
    height: 200px;
    background-color: #ebeeef;
}

.footer-col {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.footer-headings {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.fotter-text {
    margin-top: 5px;
}

.follow-col {
    margin-top: 20px;

    padding-left: 60px;
}

.follow-headings {
    margin-left: 10px;
    font-weight: 700;
}

.follow-main i {
    margin-left: 10px;
    margin-bottom: 25px;
}

.footer-app-img {
    width: 80px;
    margin-left: 10px;

}

@media screen and (max-width: 575px) {

    .nav {
        height: 100px;
    }

    .nav-row {

        padding: 0px 20px 0px 20px;
        height: 45px;

    }

    .nav-col {
        height: 45px;
        padding: 0px 0px 0px 0px;
    }

    .motor-text,
    .property-text {
        font-weight: 700;
        margin-left: 13px;

    }

    .serch-bar {
        display: none;
    }

    .nav-row-two {

        padding: 0px 12px 0px 12px;
        height: 45px;
    }

    .big-logo {
        display: none;
    }

    .serch-bar-two {
        border: #002f34 1px solid;
        border-radius: 3px;
        width: 190px;
        height: 30px;
    }

    .search-input-two {
        width: 150px;
        height: 25px;
        border: none;
        outline: none;
        font-size: 13px;

    }

    .search-icon-two-main {
        height: 30px;
        width: 30px;
    }

    .search-white-icon {
        color: white;
        font-size: 16px;
        width: 20px;
        text-align: center;
    }

    .login {
        padding-right: 20px;
    }

    .login-text {
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid black;
    }

    .sell-button-main {
        display: flex;
        align-items: center;
    }

    .sell-btn-main-two {
        width: 65px;
        height: 60px;
    }


    .sell-text {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: bolder;
        text-align: center;
        margin-left: 2px;
    }

    .plus {
        font-size: 22px;
        font-weight: bolder;
        height: 35px;
    }

    .olx-sell-icon {
        width: 65px;
        height: 30px;
        margin-right: 10px;

    }

    .catogries {
        display: none;
    }

    .navbar {
        display: contents;
    }

    .navbar-brand {
        font-size: 18px;
        font-weight: 700;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .carousel-inner {
        height: 80px;
        display: flex;
        align-items: center;
        margin-top: 2px;
    }

    .categ-pic {
        margin-top: 10px;
    }

    .categ-heading {
        font-weight: 600;
        font-size: 18px;
        text-transform: capitalize;
    }

    .categ-col {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 16px;
        margin-top: 10px;
    }

    .pic-categ-main {
        height: 40px;
        width: 50px;
    }

    .categ-img {
        width: 20px;
        height: 20px;
    }

    .categ-img-text {
        display: none;
    }

    .olx-apps {
        margin-top: 30px;
        height: 400px;
        background-color: #f7f8f9;
    }

        .app-img-col {
            display: flex;
            justify-content: center;
        }

        .app-all-main {
            border-left: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 140px;
        }

        .app-heading-text {
            font-size: 16px;
        }

        .app-img {
            width: 100px;

        }

        .footer {

            border-top: #bebebe 1px solid;
            height: 300px;
            background-color: #ebeeef;
        }

        .footer-row {
            display: flex;
            flex-direction: column;
        }

        .footer-col {
            display: flex;
            justify-content: center;
            margin-top: 20px;

        }

        .footer-headings {
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
        }

        .fotter-text {
            margin-top: 5px;
        }

        .follow-col {
            margin-top: 20px;
            height: 50px;

            padding-left: 0px;
        }

        .follow-headings {
            margin-left: 10px;
            font-weight: 700;
        }

        .follow-main i {

            margin-bottom: 0px;
        }

        .footer-app-img {

            margin-left: 10px;

        }

    }